/* the following styliing was provided by Frontend Mentor */
.attribution { 
    margin-top: 20px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* all styling below this coment was done by Kari Puzzonia */

body,
header .topic {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.blog-card {
    background-color: hsl(0, 0%, 100%);
    margin-left: auto;
    margin-right: auto;
    height: 522px;
    width: 384px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: solid 1px hsl(0, 0%, 7%);
    box-shadow: 8px 8px black;
}

.main-image {
    margin: 24px;
    height: 200px;
    width: 336px;
}

.main-image img {
    border-radius: 10px;
}

header {
    margin: 0px 24px;
}

header .topic, 
footer p {
    font-weight: 800;
}

header .topic {
    border-radius: 4px;
    padding: 4px 12px;
}

header time {
    color: hsl(0, 0%, 7%);
}

.summary-content,
footer {
    margin: 0 24px;
}

.summary-content {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

.title a {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
}

.title a:hover {
    color:hsl(47, 88%, 63%);
}

footer p {
    margin-top: 18px;
}

.profile-pic,
.name {
    vertical-align: middle;
}

.profile-pic {
    height: 32px;
    width: 32px;
}

.name {
    padding-left: 8px;
}
